.vagrant
.frm
.pem
.ibd
*.frm
*.ibd
*.pem
*.MYD
*.MYI
*.opt
*.CSM
*.TRN
*.CSV
*logfile*
docker-local/db/db-data/auto.cnf
docker-local/db/db-data/ib_buffer_pool
docker-local/db/db-data/ibdata1
*.TRG
docker-local/api/src/src
docker-local/db/db-data/ibtmp1
docker-local/.idea
docker-local/web/app/.editorconfig
docker-local/web/app/src/assets/.gitkeep
docker-local/web/app/.browserslistrc
